* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
}

.loading {
  width: 500px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-title {
  font-size: 18px;
  margin-bottom: 20px;
  animation-name: flicker;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
  overflow: hidden;
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  height: 12px;
  background-color: #13ce66;
  border-radius: 100px;
  animation-name: load;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  t0 {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    width: 0%;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
