* {
  box-sizing: content-box;
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #fff;
  width: 540px;
  height: 52px;
  align-items: center;
  border-bottom: 1px solid #e5eaef;
}

a {
  display: block;
  padding: 16px 20px;
  color: inherit;
  text-decoration: none;
}

.menu-item {
  margin-right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8492a6;
}

.menu-item.selected {
  color: #2860e1;
  border-bottom: 2px solid #2860e1;
}
