* {
  box-sizing: content-box;
  margin: 0;
}

body {
  background-color: #e5e5e5;
}

.card {
  background-color: #fff;
  display: flex;
  padding: 20px;
  width: 500px;
}

.card-img {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 20px;
}

.card h1 {
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #1f2d3d;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.card strong {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #afb3b9;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.card p {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  color: #79818b;
}
