* {
  box-sizing: border-box;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: left;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  background-color: beige;
  border-bottom: 2px solid #e5eaef;
  width: 500px;
}

.menu-item {
  float: left; /*float*/
  margin-right: 16px;
}

.menu-item a {
  padding: 16px 20px;
  display: block;
}

.menu-item.selected {
  font-weight: 700;
  border-bottom: 2px solid gray;
}
