* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

.user-card,
.user-name {
  float: left;
}

.user::after {
  content: "";
  display: block;
  clear: left;
}

.user {
  border: 2px solid #79818b;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  background-color: thistle;
}

.user-card {
  position: relative;
  margin-right: 20px;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-status {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: yellowgreen;
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.user h1 {
  font-weight: 600;
  padding-top: 30px;
}
