* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

.menu {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; */
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  background-color: beige;
  border-bottom: 2px solid #e5eaef;
  width: 500px;
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-right: 16px;
}

.menu-item a {
  padding: 16px 20px;
  display: block;
}

.menu-item.selected {
  font-weight: 700;
  border-bottom: 2px solid gray;
}
